* {
    box-sizing: border-box;
}

html, body {
    --border-radius: 100px; /* Radio del borde */
    --blue: #1c47ff; /* Color azul */
    --pink: #d6a3fb; /* Color rosa */
    --green: #d0ff94; /* Color verde */
    --grey: #e5e5e5; /* Color gris */
    --gutter: 3.125vw; /* Espacio entre elementos */

    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el relleno por defecto */
    background-color: black; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 30px; /* Tamaño de fuente */
    font-family: 'syne',sans-serif; /* Tipo de fuente */
}

h1 {
    font-size: 80px; /* Tamaño de fuente */
    margin: 0px; /* Elimina el margen por defecto */
}

h2 {
    font-size: 50px; /* Tamaño de fuente */
    margin: 0px; /* Elimina el margen por defecto */
}

a {
    color: white; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado */
}

section {
    position: relative; /* Posición relativa */
    display: flex; /* Para que los elementos se alineen en línea */
    width: 100%; /* Ancho de la sección */
    height: calc(100vh - -50px); /* Altura de la sección */
    top: 200px; /* Distancia superior */
    z-index: 2; /* Asegura que la sección esté sobre el contenido */
}

section.sticky {
    position: sticky;
    margin-top: 100px;
}

section.full-screen {
    height: 100vh;
    top: 0;
    margin-top: 0;
    z-index: 3;
}
/* Estilos para la navegación */

nav {
    position: fixed; /* Fija la barra lateral en la ventana */
    width: 200px; /* Ancho de la barra lateral */
    height: 15%; /* Altura completa de la ventana */
    top: 20px; /* Distancia superior */
    right: 20px; /* Cambia a right para moverla a la derecha */
    font-size: 20px; /* Tamaño de fuente */
    z-index: 1000; /* Asegura que la barra esté sobre el contenido */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    padding: 10px; /* Espacio interno */
    border-radius: 10px; /* Bordes redondeados */
}

nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    gap: 15px;
}

nav ul li {
    list-style: none;
    margin-left: 0; /* Elimina el margen izquierdo */
    margin-bottom: 15px;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li a {
    color: #ffffff;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
}

nav ul li:hover {
    transform: translateY(-5px);
    color: #ff6347;
}

/* Estilos para el contenido */

section.SobreNosotros .empty {
    flex-basis: 37.5vw; /* Ancho del elemento */
    background: #e5e5e5; /* Color de fondo */
    border-radius: 100px; /* Borde redondeado */
}

section.SobreNosotros article {
    flex: 1; /* Toma todo el espacio disponible */
    display: flex; /* Para que los elementos se alineen en línea */
    flex-direction: column; /* Para que los elementos se alineen en columna */
}

section.SobreNosotros article .title {
    flex: 2; /* Toma dos partes de las tres disponibles */
    display: flex; /* Para que los elementos se alineen en línea */
    align-items: flex-end; /* Alinea los elementos al final */
    background: #1c47ff; /* Color de fondo */
    border-radius: 100px; /* Borde redondeado */
    padding: 6.27vw; /* Relleno interno */
}

section.SobreNosotros article .description {
    flex: 1; /* Toma una parte de las tres disponibles */
    display: flex; /* Para que los elementos se alineen en línea */
    align-items: center; /* Alinea los elementos al centro */
    background: #fbbca3; /* Color de fondo */
    border-radius: 100px; /* Borde redondeado */
    padding: 6.25vw; /* Relleno interno */ 
    color: #000000; /* Color del texto */
}

/* service section */

section.Servicios article {
    display: flex; /* Para que los elementos se alineen en línea */
    width: 100%; /* Ancho del artículo */
}

section.Servicios figure {
    display: flex; /* Para que los elementos se alineen en línea */
    align-items: center; /* Alinea los elementos al centro */       
    justify-content: center; /* Alinea los elementos al centro */
    flex-basis: 56.25vw; /* Ancho del elemento */
    margin: 0; /* Elimina el margen por defecto */
    background: var(--green); /* Color de fondo */
    border-radius: var(--border-radius); /* Borde redondeado */
}

section.Servicios figure img {
    width: 50%; /* Ancho de la imagen */
}

section.Servicios .text {
    display: flex; /* Para que los elementos se alineen en línea */
    flex-direction: column; /* Para que los elementos se alineen en columna */
    justify-content: center; /* Alinea los elementos al centro */
    flex: 1; /* Toma todo el espacio disponible */
    background: #1f1a1c; /* Color de fondo */
    padding: var(--gutter); /* Relleno interno */
    border-radius: var(--border-radius); /* Borde redondeado */
}

section.Servicios .text a {
    font-family: 'Space Mono', monospace;
}

/* Sección de servicios animados */

/*section.Servicios.Servicios-html figure img {
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    animation-timing-function: cubic-bezier(.77,.28,.42,.93);    
} */

/*@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50px);
    }
}*/

section.Servicios.Servicios-html figure img {
    animation-name: rotate-left; /* Nombre de la animación */
    animation-duration: 10s; /* Duración del ciclo de animación */
    animation-iteration-count: infinite; /* Repetir infinitamente */
    animation-timing-function: linear; /* Función de temporización constante */
}

@keyframes rotate-left {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/* Estilos para la sección */

section.Servicios.Servicios-html figure {
    background: var(--pink);/* Añade tus estilos aquí */
}

section.Servicios.Servicios-html .text h2, 
section.Servicios.Servicios-html .text a, p
{
    color: var(--green); /* Añade tus estilos aquí */
}

section.Servicios.Servicios-css figure {
    background: var(--blue); /* Color de fondo */
}

section.Servicios.Servicios-css .text  h2, 
section.Servicios.Servicios-css .text a {
    color: var(--blue); /* Color del texto */
}

section.Servicios.Servicios-js .text  h2,
section.Servicios.Servicios-js .text a {
    color: #d62c0e; /* Color del texto */
}

/* sección de contacto */


