.pinguino {
    --pinguino-barriga: gray; /* color de la barriga */
    --pinguino-pico: orange; /* color del pico */
    position: relative; /* posición relativa para poder posicionar los elementos internos */
    margin: 5% auto; /* centrar el pingüino y margen superior */
    display: block; /* para que el margin auto funcione */
    width: 300px; /* ancho del pingüino */
    height: 300px; /* alto del pingüino */
    border-radius: 50%; /* Para darle una forma redonda al contenedor del pingüino */
    overflow: hidden; /* Para asegurar que los elementos internos no se desborden */
}

.pinguino-superior {
    position: absolute; /* posición absoluta para poder posicionar los elementos internos */
    top: 10%; /* posición superior */
    left: 25%; /* posición izquierda */
    background-color: black; /* color del cuerpo */
    width: 50%; /* ancho del cuerpo */
    height: 45%; /* alto del cuerpo */
    border-radius: 70% 70% 60% 60%; /* Para darle una forma redonda al cuerpo */
    z-index: 1; /* Para que el cuerpo esté por encima de los otros elementos */
}

.pinguino-inferior {
    position: absolute; /* posición absoluta para poder posicionar los elementos internos */
    top: 40%; /* posición superior */
    left: 23.5%; /* posición izquierda */
    background-color: black; /* color del cuerpo */
    width: 53%; /* ancho del cuerpo */
    height: 45%; /* alto del cuerpo */
    border-radius: 70% 70% 100% 100%; /* Para darle una forma redonda al cuerpo */
    z-index: 0; /* Para que el cuerpo esté por encima de los otros elementos */
}

.mano-derecha {
    position: absolute; /* posición absoluta para poder posicionar los elementos internos */
    top: 0%; /* posición superior */
    left: -5%; /* posición izquierda */
    background-color: black; /* color del cuerpo */
    width: 30%; /* ancho del cuerpo */
    height: 60%; /* alto del cuerpo */
    border-radius: 30% 30% 120% 30%; /* Para darle una forma redonda al cuerpo */
    z-index: 1; /* Para que el cuerpo esté por encima de los otros elementos */
}

.mano-izquierda {
    position: absolute; /* posición absoluta para poder posicionar los elementos internos */
    top: 0%; /* posición superior */
    left: 75%; /* posición izquierda */
    background-color: black; /* color del cuerpo */
    width: 30%; /* ancho del cuerpo */
    height: 60%; /* alto del cuerpo */
    border-radius: 30% 30% 30% 120%; /* Para darle una forma redonda al cuerpo */
    transform: rotate(-45deg); /* Para rotar la mano */
    z-index: 1; /* Para que el cuerpo esté por encima de los otros elementos */
}

.mejilla-derecha {
    position: absolute; /* posición absoluta para poder posicionar los elementos internos */
    top: 15%; /* posición superior */
    left: 35%; /* posición izquierda */
    background-color: var(--pinguino-barriga, white); /* color de la barriga */
    width: 60%; /* ancho del cuerpo */
    height: 70%; /* alto del cuerpo */
    border-radius: 70% 70% 60% 60%; /* Para darle una forma redonda al cuerpo */
    z-index: 2; /* Para que el cuerpo esté por encima de los otros elementos */
}

.mejilla-izquierda {
    position: absolute; /* posición absoluta para poder posicionar los elementos internos */
    top: 15%; /* posición superior */
    left: 5%; /* posición izquierda */
    background-color: var(--pinguino-barriga, white); /* color de la barriga */
    width: 60%; /* ancho del cuerpo */
    height: 70%; /* alto del cuerpo */
    border-radius: 70% 70% 60% 60%; /* Para darle una forma redonda al cuerpo */
    z-index: 2; /* Para que el cuerpo esté por encima de los otros elementos */
}

.barriga {
    position: absolute; /* posición absoluta para poder posicionar los elementos internos */
    top: 60%; /* posición superior */
    left: 2.5%; /* posición izquierda */
    background-color: var(--pinguino-barriga, white); /* color de la barriga */
    width: 95%; /* ancho del cuerpo */
    height: 100%; /* alto del cuerpo */
    border-radius: 120% 120% 100% 100%; /* Para darle una forma redonda al cuerpo */
    z-index: 2; /* Para que el cuerpo esté por encima de los otros elementos */
}

.pie-derecho {
    position: absolute; /* posición absoluta para poder posicionar los elementos internos */
    top: 85%; /* posición superior */
    left: 60%; /* posición izquierda */
    background-color: var(--pinguino-pico, orange); /* color del pico */
    width: 15%; /* ancho del cuerpo */
    height: 30%; /* alto del cuerpo */
    border-radius: 50%; /* Para darle una forma redonda al cuerpo */
    transform: rotate(-80deg); /* Para rotar el pie */
    z-index: 3; /* Para que el cuerpo esté por encima de los otros elementos */
}

.pie-izquierdo {
    position: absolute; /* posición absoluta para poder posicionar los elementos internos */
    top: 85%; /* posición superior */
    left: 25%; /* posición izquierda */
    background-color: var(--pinguino-pico, orange); /* color del pico */
    width: 15%; /* ancho del cuerpo */
    height: 30%; /* alto del cuerpo */
    border-radius: 50%; /* Para darle una forma redonda al cuerpo */
    transform: rotate(80deg); /* Para rotar el pie */
    z-index: 3; /* Para que el cuerpo esté por encima de los otros elementos */
}

.ojo-derecho {
    position: absolute; /* posición absoluta para poder posicionar los elementos internos */
    top: 45%; /* posición superior */
    left: 60%; /* posición izquierda */
    background-color: black; /* color del cuerpo */
    width: 15%; /* ancho del cuerpo */
    height: 17%; /* alto del cuerpo */
    border-radius: 50%; /* Para darle una forma redonda al cuerpo */
    z-index: 4; /* Para que el cuerpo esté por encima de los otros elementos */
}

.ojo-izquierdo {
    position: absolute; /* posición absoluta para poder posicionar los elementos internos */
    top: 45%; /* posición superior */
    left: 25%; /* posición izquierda */
    background-color: black; /* color del cuerpo */
    width: 15%; /* ancho del cuerpo */
    height: 17%; /* alto del cuerpo */
    border-radius: 50%; /* Para darle una forma redonda al cuerpo */
    z-index: 4; /* Para que el cuerpo esté por encima de los otros elementos */
}




body {
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
