/* selector universal el cual selecciona todos los elementos * con este codigo funciona todo el texto  * {
color: purple
}*/

/* selector de etiqueta h1 */

h2 {color: chartreuse;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: rgb(0, 255, 106);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: green;
}

a {
    color: rgb(255, 0, 0);
    font-family: "Gemunu Libre", serif;
    font-size: 32px;
}

.estructura1 {
    width: 350px;
    border-width: 5px;
    border-color: black;
    border-style: dashed;   
}

.bordes-estructura {
    border-width: 5px;
    border-color: black;
    border-style: dashed;
    border-radius: 20px;
}


.imagen-redondeada {
    border-style: dashed;
    border-color: orangered;
    border-radius: 50%;
    width: 350px;
    display: block;
    margin: 0 auto;
}

img[alt] {
    border-width: 5px; /*grosor del borde*/
    border-color: black; /*color del borde*/
    border-style: solid; /*tipo de borde*/
    border-radius: 20px; /*redondear las esquinas del borde*/
}


[type="radio"] {
    margin: 5px; /*espacio entre los radio buttons*/
}