/* selector universal el cual selecciona todos los elementos * con este codigo funciona todo el texto  * {
color: purple
}*/

/* selector de etiqueta h1 */

h2 {color: chartreuse;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: rgb(0, 255, 106);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: green;
}

